<launch>
    <include file="$(find depthai_examples)/launch/stereo_nodelet.launch">
        <arg name="monoResolution" value="800p" />
    </include>
    <node pkg="ORB_SLAM3" name="Stereo_oakd" type="Stereo_oakd" respawn="true">
        <param name="vocab" type="str" value="/home/rami/nr22-software/include/ORB_SLAM3_OPENCV4/Vocabulary/ORBvoc.txt"/>
        <param name="config" type="str" value="/home/rami/nr22-software/include/ORB_SLAM3_OPENCV4/Examples/ROS/ORB_SLAM3/Asus2.yaml"/>
        <param name="left_img_name" type="str" value="/stereo_publisher/left/image"/><!-- ROS IMAGE NODE NAMES-->
        <param name="right_img_name" type="str" value="/stereo_publisher/right/image"/>
        <!--<param name="imu_topic" type="str" value=""/>-->
    </node>
</launch>